@keyframes fade-in {

    from {}

    to {}
}

// here we will place the animations for the hero elements

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}


// these keyframes are for the footer which animate the footer wavy motions
@keyframes animateWave {

    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 62.5rem;
    }

}

@keyframes animateWave_1 {

    0% {
        background-position-x: 62.5rem;
    }

    100% {
        background-position-x: 0;
    }

}

// these keyframes will be for the main section
@keyframes move-background {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(100%);
    }
}

// keyframes for the ambient lighting cube
@keyframes rotate-pyramid {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }


}

// this is for the bg body
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}
