.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__icons {
        a {
            display: inline-flex;
            width: 1.25rem;
            height: 2.25rem;
            margin: 0 1.2rem;
            transition: 500ms;

            &:hover {
                transform: translateY(-10px);
            }

        }

    }

    &__links {
        a {
            color: white;
            opacity: 0.75;
            margin: 0 1.2rem;

            &:hover {
                opacity: 1;
            }
        }
    }

}
