.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(blue, transparent);
    display: none;

    &.scroll {
        display: block;
        translate: 0 4rem;

    }
}

.header {

    nav {
        padding: 1.0625rem 1.5rem;
    }

    &__logo {}

    &__menu {
        span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: black;
            transition: all 400ms ease-out;
            transform-origin: 6px 1px;


            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }

        &.open {
            span:first-child {
                transform: rotate(45deg);
            }

            span:nth-child(2) {
                opacity: 0;
            }

            span:last-child {
                transform: rotate(-45deg);
            }
        }

    }

    &__links {

        a {
            position: relative;
            font-size: $font-sm;
            color: white;
            transition: color 350ms ease-in-out;


            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -24px;
                background-color: green;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover {
                color: darkred;

                &::before {
                    opacity: 1;
                }
            }

        }
    }

    &__cta {
        font-size: small;
        color: ghostwhite;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
        }
    }


    //have to finish this later with better styles from the internet
    &__list {
        background: skyblue;
        padding: 1.625rem;
        margin-top: 1rem;
        display: none;



        a {
            display: block;
            padding: 0.625rem;
            text-align: center;
            color: grey;

        }
    }


}
