.header{

	nav {
		padding:1.0625rem 1.5 rem;
	}



	&__logo{

	}

	&__menu{

		span{
			display: block;
			width: 26px;
			height: 2px;
			background-color: darkblue;

			&:not(:last-child){
				margin-bottom: 3px;
			}
		}

	}

	&__links{
		border: 2px solid blue;

		a{
			font-size: $font-sm;
			color: grey;
			transition: color 250ms ease-in-out;
			position: relative;


			&:not(:last-child) {
				margin-right: 32px;
			}

			&::before{
				content: "";
				position: absolute;
				display: block;
				background-color: green;
				height: 5px;
				left: 0;
				right: 0;
				bottom: -30px;
			}

			&:hover {
				color: darkred;
			}
		}
	}


}