.hero {
    display: grid;
    gap: 1rem;
    grid-template-columns: 60% 40%;




    &__box {
        position: relative;
        width: 34rem;
        height: 25rem;
        background-color: $gray-bg;
        border-radius: 15px;

        .text {
            position: relative;
            color: red;


            >* {
                text-shadow: 0 0 0.3em currentColor;
            }


        }


    }

    &__box_2 {
        position: relative;
        width: 20rem;
        height: 25rem;
        background-color: $gray-bg;
        border-radius: 10px;
    }

    #box::before,
    ::after {
        content: '';
        position: absolute;
        inset: -.3rem;
        z-index: -1;
        background: conic-gradient(from var(--gradient-angle), $gray-bg,
            $maroonish-bg, $bluish-bg, $gray-bg, $maroonish-bg);
        border-radius: inherit;
        animation: rotation 15s linear infinite;
    }

    #box::after {
        filter: blur(0.5rem);

    }
}
