.hero {
    display: flex;

    &__box {
        position: relative;
        width: 34rem;
        height: 25rem;
        margin: 2rem 2rem;
        background-color: white;
        border-radius: 50px;
    }

    &__box_2 {
        position: relative;
        width: 23rem;
        height: 25rem;
        margin: 2rem 2rem;
        background-color: white;
        border-radius: 50px;
    }

    #box::before,
    ::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(0deg, green, blue, grey);
    }

    #box::after {
        filter: blur(3.5rem);

    }
}
