.morning {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4rem);
    display: flex;

    .morning-grid {

        display: grid;
        height: auto;
        width: inherit;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 20% 30%;
        gap: 1rem;

        :nth-child(1) {
            background: purple;
            grid-row-start: 1;
            grid-row-end: 4;

        }

        :nth-child(2) {
            background: yellowgreen;

        }

        :nth-child(3) {
            background: grey;

        }

        :nth-child(4) {
            background: black;

        }


    }




}
