.morning {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 4rem);

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2rem;
        background: linear-gradient(to top, #3a4009, transparent);
        z-index: 1;
    }


    img {
        @include image-properties;

        &:nth-child(2) {
            width: 30%;
            height: 30%;
            top: 43%;
            left: 17%;
        }

        &:nth-child(7) {
            top: 50%;
            z-index: 1;
        }

    }

    @include appearing-div;

}
