$font-med:1.125rem;
$font-sm:0.875rem;


//this section is for colors to be used
//first section is for hero colors

$clr1-bg: #A22A2A;
$clr2-bg: #958A8A;
$clr3-bg: #0e4b50;
$clr4-bg: #2d8f85;
$clr5-bg: #637c54;
