@keyframes fade-in {}
@keyframes rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
@keyframes animateWave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 62.5rem;
  }
}
@keyframes animateWave_1 {
  0% {
    background-position-x: 62.5rem;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes move-background {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}
html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: darkgray;
  color: ghostwhite;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
  overflow-x: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

button,
.button {
  padding: 0.875rem 1.875rem;
  background: linear-gradient(to right, skyblue, grey);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: ghostwhite;
  font-weight: 400;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

footer {
  position: relative;
  width: 100%;
  background: rgb(54, 123, 161);
  min-height: 9.25rem;
  padding: 1.25rem 3.125rem;
}

header {
  min-height: 5rem;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.background-container {
  position: relative;
  min-height: 30rem;
  height: 100%;
  width: 100%;
}
.background-container .stack-cards {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-container .stack-cards .content {
  position: relative;
  width: 280px;
  height: 45%;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  transition: 500ms;
  padding: 10px;
  text-align: center;
}
.background-container .stack-cards .content:hover {
  height: 70%;
}
.background-container .stack-cards .content:hover .imgBx {
  width: 200px;
  height: 150px;
}
.background-container .stack-cards .content .imgBx {
  position: absolute;
  width: 140px;
  height: 100px;
  background: url("../images/react-2.svg");
  top: 0;
  overflow: hidden;
  transition: 500ms;
}
.background-container .stack-cards .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: fill;
  width: 60%;
  margin: auto;
  display: block;
}
.background-container .stack-cards .content .details {
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellowgreen;
  border-radius: inherit;
}
.background-container img {
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 1;
  right: 1.2rem;
}
.background-container .stars {
  background: black url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.background-container .twinkling {
  height: 100%;
  width: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 50px 50px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  animation: animateWave 65s ease-in-out infinite;
}
.background-container .clouds {
  width: 100%;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  animation: animateWave 50s ease-in-out infinite;
}

.hero {
  display: grid;
  gap: 1rem;
  grid-template-columns: 55% 45%;
  margin: 1rem 1rem;
}
.hero :nth-child(1) {
  grid-column-start: 2;
}
.hero .intro {
  grid-column-start: 1;
}
.hero__box_2 {
  position: relative;
  width: 90%;
  height: 33rem;
  background-color: #262121;
  border-radius: 10px;
  perspective: 2000px;
}
.hero__box_2::before,
.hero__box_2 ::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(from var(--gradient-angle), #0e4b50, #2d8f85, #637c54, #2d8f85, #0e4b50);
  filter: blur(0.2rem);
  border-radius: inherit;
  animation: rotate 15s linear infinite;
}
.hero__box_2 .card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: pink;
  transform-style: preserve-3d;
  transition: transform 2000ms;
}
.hero__box_2 .card:hover {
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}
.hero__box_2 .card .front,
.hero__box_2 .card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backface-visibility: hidden;
}
.hero__box_2 .card .front {
  background: #1b1124;
}
.hero__box_2 .card .back {
  transform: rotateY(180deg) rotateZ(180deg);
}
.hero__box_2 .card .back .text {
  height: 100%;
  width: 100%;
  background: black;
}

main {
  flex-grow: 2;
}
main .morning {
  height: calc(100vh - 5rem);
}
main div {
  width: 100%;
  height: 100vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
